<body class="Menu-container">
  <div class="user-profile-container">
    <div class="user-photo-container">
      <div class="user-photo-wrapper">
        <img src="placeholder-image.jpg" alt="User Photo">
        <div class="user-photo-overlay">
          <p class="user-photo-label">Click to change photo</p>
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
    </div>
    <div class="user-info-container">
      <div class="user-info-row">
        <div class="user-info-label-wrapper">
          <label for="name-input">Name</label>
          <input id="name-input" type="text" value="John" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="first-surname-input">First Surname</label>
          <input id="first-surname-input" type="text" value="Doe" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="second-surname-input">Second Surname</label>
          <input id="second-surname-input" type="text" value="Smith" disabled>
        </div>
      </div>
      <div class="user-info-row">
        <div class="user-info-label-wrapper">
          <label for="cellphone-input">Cellphone</label>
          <input id="cellphone-input" type="text" value="555-555-5555" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="email-input">Email</label>
          <input id="email-input" type="email" value="johndoe@example.com" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="address-input">Address</label>
          <input id="address-input" type="text" value="123 Main St" disabled>
        </div>
      </div>
      <div class="user-info-row">
        <div class="user-info-label-wrapper">
          <label for="employee-number-input">Employee Number</label>
          <input id="employee-number-input" type="text" value="12345" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="business-unit-input">Business Unit</label>
          <input id="business-unit-input" type="text" value="Marketing" disabled>
        </div>
        <div class="user-info-label-wrapper">
          <label for="position-input">Position</label>
          <input id="position-input" type="text" value="Manager" disabled>
        </div>
      </div>
    </div>
    <div class="user-info-buttons">
    <div>
      <button [routerLink]="['']" class="Toolbar-icons" role="button"> 
      <h3>Save Changes</h3></button>
  </div>
  <div>
    <button [routerLink]="['']" class="Toolbar-icons" role="button"> 
    <h3>Request for Info Change</h3></button>
</div>
</div>
  </div>
</body>