<div class="Toolbar-container">
<mat-toolbar class="Toolbar-banner">
    <button mat-icon-button class="Toolbar-icons" role="button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="Toolbar-spacer"></span>
    <h1 class="Toolbar-title">APPLICATION</h1>
    <span class="Toolbar-spacer"></span>
    <button mat-icon-button class="Toolbar-icons" role="button">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="Toolbar-icons" role="button">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
</div>

