/* You can add global styles to this file, and also import other style files */
.AngularBody{
  background-color: #f8eae8;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.Toolbar-icons {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.Toolbar-icons:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.Toolbar-icons:hover:after {
  transform: translate(0, 0);
}
.Toolbar-icons:active {
  background-color: #ffdeda;
  outline: 0;
}
.Toolbar-icons:hover {
  outline: 0;
}
@media (min-width: 768px) {
    .Toolbar-icons {
    padding: 0 40px;
  }
}
.Toolbar-spacer{
    flex: 1 1 auto;
}
.Toolbar-banner{
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.Toolbar-title{
    flex: 1 1 auto;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 25px;
    font-stretch: ultra-expanded;
    letter-spacing: .5rem;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.Toolbar-Darkmode {
  color: #fee6e3;
  background-color: #111;
}
.Toolbar-Darkmode .Toolbar-title {
  background-color: #111;
  border: 2px solid #fee6e3;
  color: #fee6e3;
}
.Toolbar-Darkmode .Toolbar-title:after {
  background-color: #111;
  border: 2px solid #fee6e3;
  color: #fee6e3;
}
.Toolbar-Darkmode .Toolbar-icons{
  background-color: #111;
  border: 2px solid #fee6e3;
  color: #fee6e3;
}
.Toolbar-Darkmode .Toolbar-icons:after {
  border: 2px solid #fee6e3;
} 
.Toolbar-Darkmode .Toolbar-title:after {
  border: 2px solid #fee6e3;
}
.Toolbar-Darkmode .Toolbar-icons:active {
  background-color: #111;
}
.Toolbar-Darkmode .Toolbar-icons:hover:after {
  transform: translate(0, 0);
}
.Toolbar-Darkmode .Toolbar-banner{
  color: #fee6e3;
  z-index: 1;
}
.Toolbar-Darkmode  .Menu-container{
  color: #fee6e3;
}
.Toolbar-Darkmode .table-header{
  background-color: #111;
  border: 2px solid #fee6e3;
  color: #fee6e3;
}

.Toolbar-Darkmode .table-row{
  background-color: #111;
  border: 3px solid #fee6e3;
  color: #fee6e3;
}

.Toolbar-Darkmode .circle-1 {  
  background-color: #111;
  border: 2px solid #fee6e3;
  color: #fee6e3;
}
.Toolbar-Darkmode .circle-2 {  
  background-color: #111;
  border: 3px solid #fee6e3;
  color: #fee6e3;
}
.Toolbar-Darkmode
.Toolbar-Darkmode

.Toolbar-title:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.Toolbar-container{
    display: grid;
    grid-template-columns: 1fr ;
}
.Menu-container{
  padding-left: 2%;
  padding-right: 2%;
  color: #000000;
}

.table {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:collapse;
}

.table-header {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  color: #111;
}

.table-row {
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  width: 15%;
  color: #111;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
}

.table-body{
  padding-left: 2%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  width: 25%; 
  height: 300px; 
  border-radius: 90%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #111;
  cursor: pointer;
  transition: transform 0.2s;
}

.circle:hover {
  transform: scale(1.05);
}

.circle-1 {  
  background-color: #fee6e3;
  border: 3px solid #111;
  color: #111;
  font-family: Inter,sans-serif;
  font-size: 25px;
  font-stretch: ultra-expanded;
  letter-spacing: .2rem;

}

.circle-2 {
  background-color: #fee6e3;
  border: 3px solid #111;
  color: #111;
  font-family: Inter,sans-serif;
  font-size: 25px;
  font-stretch: ultra-expanded;
  letter-spacing: .2rem;

}

.circles-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

