<body class="Menu-container">
  <form>
  <table class="table">
    <td><div>
      <label for="nameInput">Name</label>
      <input type="text" id="nameInput" placeholder="Enter name">
    </div></td>
    <td><div class="RequisicionInput-group">
      <label for="surnameInput">Surname</label>
      <input type="text" id="surnameInput" placeholder="Enter surname">
    </div> </td>
    <td><div class="RequisicionInput-group">
      <label for="employeeNumberInput">Employee Number</label>
      <input type="text" id="employeeNumberInput" placeholder="Enter employee number">
    </div></td>
  </table>

  <table class="table">
    <td><div class="RequisicionInput-group">
      <label for="folioInput">FOLIO</label>
      <input type="text" id="folioInput" placeholder="FOLIO will be generated automatically" disabled>
    </div></td>
  </table>

  <table class="table">
    <td><div class="RequisicionInput-group">
      <label for="projectInput">Project</label>
      <select class="form-control" id="projectInput">
        <option *ngFor="let Project of Projects" [value]="Project.value">{{Project.viewValue}}</option>
        <option>Add new project</option>
      </select>
    </div></td>
    <td><div class="RequisicionInput-group">
      <label for="areaInput">Area</label>
      <input type="text" id="areaInput" placeholder="Enter area">
    </div></td>
    <td><div class="RequisicionInput-group">
      <label for="plantInput">Plant</label>
      <input type="text" id="plantInput" placeholder="Enter plant">
    </div></td>
  </table>
  </form>

<hr>

    <table class="table">
      <thead>
        <tr>
          <th class="table-header" scope="col">Number</th>
          <th class="table-header" scope="col">Description</th>
          <th class="table-header" scope="col">Brand</th>
          <th class="table-header" scope="col">Seller</th>
          <th class="table-header" scope="col">Price</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <th  class="table-header" scope="row"><input type="text" class="form-control"></th>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <th class="table-header" scope="row"><input type="text" class="form-control"></th>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
        </tr>
        <tr>
        <th class="table-header" scope="row"><input type="text" class="form-control"></th>
        <td class="table-row"><input type="text" class="form-control"></td>
        <td class="table-row"><input type="text" class="form-control"></td>
        <td class="table-row"><input type="text" class="form-control"></td>
        <td class="table-row"><input type="text" class="form-control"></td>
        </tr>
        <tr>
        <th class="table-header" scope="row"><input type="text" class="form-control"></th>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
          <td class="table-row"><input type="text" class="form-control"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary" id="addRowButton">Add Row</button>
    <div class="form-group">
    <label for="currencyInput">Currency</label>
    <select class="form-control" id="currencyInput">
        <option>MXN</option>
        <option>USD</option>
    </select>
    </div>
    <button type="button" class="btn btn-primary" id="generatePDFButton">Generate PDF</button>

<hr>

    <div class="form-group">
    <label for="emailInput">Email(s) to send order to:</label>
    <select multiple class="form-control" id="emailInput">
        <option>email1@example.com</option>
        <option>email2@example.com</option>
        <option>email3@example.com</option>
        <!-- additional email options can be added here if needed -->
    </select>
    </div>

    <button type="submit" class="btn btn-success" id="completeButton">Complete</button>
</body>
